#title {
    /* text-shadow: 2px 2px 5px #333333; */
    color: #51B3C7;
    text-align: center;
    margin-top: 3%;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 300%;
    letter-spacing: 1.4px;
    word-spacing: 3px;
    font-weight: 700;
    text-decoration: underline solid rgb(68, 68, 68);
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

#description {
    color: rgb(41, 97, 143);
    text-align: center;
    margin-top: 5%;
    font-size: 150%;
    font-family: Impact, Charcoal, sans-serif;
    letter-spacing: 0.1px;
    word-spacing: 3px;
    font-weight: 700;
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

#result {
    color: #333333;
    background-color: rgba(255, 255, 255, 0.863);
    fill-opacity: 0.8;
    opacity: 0.9;
    /* width: 50%; */
    text-align: center;
    position: relative;
    margin-bottom: 5%;
    margin-top: 10%;
    /* margin-right: 10%; */
    border: 4px ridge #f7971b;
    border-radius: 19px;
    padding: 10px;
    /* font-size: 26px; */
    text-shadow: -4px 6px 9px rgba(27, 82, 82, 0.88);
    font-family: Arial, Helvetica, sans-serif;
    /* box-shadow: 6px 17px 20px 3px rgba(51, 51, 51, 0.86); */
}

.button {
    background-color: #f7971b;
    color: white;
    border: 1px solid;
    /* transparent border */
    border-radius: 12px;
    opacity: 0.9;
    cursor: pointer;
    width: 40%;
    height: 40%;
    padding: 3% 3%;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    display: block;
    margin-top: 15%;
    text-align: center;
    box-shadow: 6px 17px 20px 3px rgba(51, 51, 51, 0.86);
}

.button:hover {
    opacity: 1;
    background-color: #da8619;
    border: 2px #000000 solid;
}

.button:active {
    border: 1px #000000 solid;
}